<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.meliksahcakir.spotialarm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".SpotiAlarmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_spotialarm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_spotialarm_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:ignore="AllowBackup">
        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".active.ActiveAlarmActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="o_mr1" />

        <service android:name=".service.AlarmService" />
        <service android:name=".service.RescheduleAlarmsService" />

        <receiver
            android:name=".broadcast.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_ALARM_FIRED" />
                <action android:name="ACTION_SNOOZE" />
                <action android:name="ACTION_TURN_OFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>